
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: red;
  background: #ffffff !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Links */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

/* Tabs */
input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}

/* Images */
img {
  display: block;
  max-width: 100%;
}

/* Lists */
ul.unstyled li {
  list-style: none;
}


/* Nav */
._1m294zs {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  border-top: 1px solid #EBEBEB !important;
  position: fixed !important;
  bottom: -60px !important;
  height: 125px !important;
  left: 0px !important;
  right: 0px !important;
  padding-bottom: 60px !important;
  background: #ffffff !important;
  -webkit-transition: -webkit-transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955),transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955), visibility .2s !important;
  -moz-transition: transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955), visibility .2s !important;
  transition: -ms-transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955),-webkit-transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955),transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955), visibility .2s !important;
  z-index: 1 !important;

  display: none !important;
}
._1m294zs {
  margin-bottom: env(safe-area-inset-bottom) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

._h0klba {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  -webkit-flex: 1 0 auto !important;
  -ms-flex: 1 0 auto !important;
  flex: 1 0 auto !important;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  max-width: 560px !important;
}

._1e1aumhl, ._45o9ez, ._45o9ez {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: 1 1 0 !important;
  -ms-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  cursor: pointer !important;
  background-color: transparent !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 0px !important;
  max-width: 20% !important;
  min-width: 0px !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  overflow-wrap: break-word !important;
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
  padding: 0 2px !important;
  color: #FF385C !important;
}

._jro6t0 {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

._jgit7bg, ._tbbnrnx, ._tbbnrnx {
  width: 24px;
  height:24px;
  background: #eeeeee;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  width: 30px !important;
  height: 30px !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  margin-bottom: 2px !important;
  position: relative !important;
  color: #FF385C !important;
}

._cvn1xw5, ._1nudv8w, ._1nudv8w {
    font-size: 10px !important;
    line-height: 12px !important;
    max-height: 24px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    font-weight: 600 !important;
    overflow-wrap: break-word !important;
    color: #222222 !important;
}



/* Content Wrapper */

._1i7ccu91 {
    position: relative !important;
    z-index: 0 !important;
    min-height: -webkit-calc(100vh + 65px) !important;
    min-height: -moz-calc(100vh + 65px) !important;
    min-height: calc(100vh + 65px) !important;
}

._1i7ccu91 {
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
}


/* Map or Photos */

._fambuz {
  bottom: auto !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  left: 0px !important;
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  height: 100vh !important;
  background: blue;
}

._1gw6tte::before {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: '' !important;
}

._1gw6tte::after {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: '' !important;
}

.fixed-gallery {
  position:fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  background: green;
  background: #ffffff;
}

.fixed-gallery img {
  margin-bottom: 2px;
}


/* Spacer - This pushes down the body content */

._17slp5e {
  height: 266.8px; /* original */
  height: 432px;

  appearance: none !important;
  background: transparent !important;
  background: red !important;
  border: 0px !important;
  display: block !important;
  margin: 0px !important;
  outline: none !important;
  width: 100% !important;
  z-index: -1 !important;

}

/* Card  */

._6bm0d7l {
  transform: translate3d(0,0px,0);

  position: relative !important;
  z-index: 0 !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  background: #FFFFFF !important;
  min-height: -webkit-calc(60vh + 65px) !important;
  min-height: -moz-calc(60vh + 65px) !important;
  min-height: calc(60vh + 65px) !important;
  width: 100% !important;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}


._moiu1e {
    min-height: 30px !important;
    position: relative !important;
    width: 100% !important;
    will-change: transform !important;
}

/* Top of Card */
._1i59r47o {
    height: 24px !important;
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
    -ms-touch-action: none !important;
    touch-action: none !important;
    background: #ffffff !important;
}

._1shuizm2 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-transition: 0.4s border-radius cubic-bezier(0.35, 0, 0.65, 1) !important;
    -moz-transition: 0.4s border-radius cubic-bezier(0.35, 0, 0.65, 1) !important;
    transition: 0.4s border-radius cubic-bezier(0.35, 0, 0.65, 1) !important;
    position: relative !important;
    /* border-bottom: 1px solid #EBEBEB !important; */
    margin-left: 24px !important;
    margin-right: 24px !important;
    min-height: 28px !important;
    padding-bottom: 0 !important;
}


/* Handle */

._1shuizm2::before {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    top: 12px !important;
    left: 50% !important;
    -webkit-transform: translateX(-20px) !important;
    -ms-transform: translateX(-20px) !important;
    transform: translateX(-20px) !important;
    width: 40px !important;
    height: 4px !important;
    border-radius: 4px !important;
    background-color: rgba(32, 32, 32, 0.2) !important;
}


/* Content */

._36nbv2w {
    margin-top: -12px !important;
    position: relative !important;
    padding-bottom: 36px !important;
    will-change: none !important;
}

/* Content Section */

._diqct2z {
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin-bottom: 36px !important;
    margin-top: 28px !important;
}


/* Summary */
.summary-meta span {
  display: inline-block;
  margin-right: .5rem;
}

.summary-price {
  margin: .5rem 0;
}

.home-price {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.summary-address {
  margin: .5rem 0;
  font-size: 1rem;
}

.summary-space {
  font-size: 1rem;
}


/* Tabs */
.tabs {
  height: 56px;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  margin: 24px 0;
}
